.tab-title{
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.movie-container{
    /* position: relative; */
}

.tab-container{
    display: flex;
    column-gap: 10px;
    margin-bottom: 40px;
    /* position: fixed; */
    /* top: 200px; */
}
.active-comp-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}