.overview{
    
}

.separator{
    border: 0.5px solid #fff;
    opacity: 0.2;
}

.movie-name{
    display: flex;
    justify-content: space-between;
}
.actions{
    display: flex;
    justify-content: start;
    column-gap: 30px;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    opacity: 0.7;
}

.genre-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    opacity: 0.7;
}

.genre{
    font-size: 12px;
}

.story-line span{
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    opacity: 1;
}

.story-line{
    opacity: 0.8;
    font-size: 14px;
}
