.movie-card{
    width: 200px;
    height: 250px;
    border-radius: 18px;
    font-weight: 600;

}

.movie-card img{
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 12px;
}

.rating{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 8px;
    
}

.rating > img{
    height: 20px;
    width: 20px;
}

.details{
    padding: 10px;
}

