nav{
    padding: 15px;
    background-color: #010101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 0.1px solid #FFF;
}

.filters{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    font-weight: 600;
}

.profile svg{
    font-size: 40px;
}

.company-logo{
    height: 50px;
    width: 60px;
    /* clip-path: circle(25% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); */
}