.container{
    /* width: calc(100vw - 80px); */
    margin: 80px 0px 0px 80px;
    /* background-color: #000; */
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid red; */
}